@model IEnumerable<AJG.DW.SecurityUtility.Web.Models.BranchDWAccess>
@using GridMvc.Html
@using GridMvc.Sorting

@{
    ViewBag.Title = "DW Access";
}

<meta name="viewport" content="width=device-width" />
<script src="@Url.Content("~/Scripts/typeahead.bundle.min.js")"></script>



<div id="gridform">
  
    <div class="float-right">Toggle All: @Html.CheckBox("selectAllCheckBox", false)</div>
        @Html.Grid(Model).Named("accessGrid").Columns(columns =>
   {
       columns.Add(i => i.RegionName).Titled("Region").SetWidth(110);
       columns.Add(i => i.BranchName).Titled("Branch Name").SetWidth(110);
       columns.Add(i => i.BranchCode).Titled("Branch Code").SetWidth(110).Css("bucode");
       columns.Add(i => i.HasAccess).Titled("Access").SetWidth(110).RenderValueAs(o => Html.CheckBox("checked", o.HasAccess)).Encoded(false).Sanitized(false);
   }).Sortable(false).EmptyText("No results to display")


    </div>


<script>
    $(document).ready(function () {
        $("#selectAllCheckBox").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });

        $("table").tablesorter();

        $("menucontainer").tabs();

        $(":checkbox").change(function () {
            $(this).closest("tr").toggleClass("highlight", this.checked);
        });
    });


    var foundUsers = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/PLAccess/FindUsers?search=%QUERY',
            wildcard: '%QUERY'
        }
    });

    $('.typeahead').typeahead(null, {
        name: 'foundUsers',
        display: 'SearchDisplayText',
        source: foundUsers
    });


    function updateselected() {
        var bucodesToSend = new Array();
        $("tr").each(function (e) {
            var checkBox = $(this).find("input[type='checkbox']");
            if (checkBox.is(':checked')) {
                var buCode = $(this).find(".bucode").text();
                bucodesToSend.push(buCode);
            }
        });

        var postData = { data: bucodesToSend, username: $("#id").val() };

        $.ajax({
            url: '/DWAccess/update',
            type: 'POST',
            data: postData,
            success: function (data) {
                if (data.success)
                    $("#message").text(data.responseText).addClass("alert-success");
                else
                    $("#message").text(data.responseText).addClass("alert-danger");

            },
            dataType: "json",
            error: function (data) {
                $("#message").text(data.responseText).addClass("alert-danger");
            }
        });
    }

</script>

<script src="@Url.Content("~/Scripts/jquery.tablesorter.js")"></script>



